OPENAI_API_KEY=sk-proj-dummy
OPENAI_API_BASE=http://127.0.0.1:54000/v1
#####
HF_TOKEN=hf_YOUR_TOKEN
#####
APP_PORT = 50501
MONGODB_URL=mongodb://mongo-biochat-kg:27017
ALLOW_INSECURE_COOKIES=true

KGHOST=127.0.0.1
KGPORT=57687

PUBLIC_APP_NAME=Drug Interactions Knowledge Graph ChatUI
PUBLIC_APP_ASSETS=chatui
PUBLIC_APP_COLOR=violet
PUBLIC_APP_DESCRIPTION="A HuggingChat demonstrator for Biochatter-based Drug Interactions Knowledge Graph Retrival Augmented Generation"
PUBLIC_APP_DATA_SHARING=1
PUBLIC_APP_DISCLAIMER=0

MODELS=`[{
      "name": "gpt-4o",
      "displayName": "KG-RAG gpt-4o",
      "description": "Biochatter Drug Interactions KG-RAG for gpt-4o",
      "parameters": {
        "temperature": 0.0,
        "max_new_tokens": 4096,
            "stop": ["[DONE]"]
      },
      "endpoints": [
        {
          "type": "openai",
          "baseURL": "http://172.17.0.1:50501/biochatter_api",
          "apiKey": "no_key_needed"
        }
      ],
      "promptExamples": [
            {
              "title": "Drug interactions of Sirolimus",
              "prompt": "What drug interactions of Rapamycin are you aware of? What are these interactions?"
            },
            {
              "title": "Drug interactions of Metformin",
              "prompt": "What drug interactions of Metformin are you aware of? What are these interactions?"
            },
            {
              "title": "Drug interactions of Ozempic",
              "prompt": "What drug interactions of Semaglutide are you aware of? What are these interactions?"
            }
      ]
},
{
      "name": "gpt-4o-mini",
      "displayName": "KG-RAG gpt-4o-mini",
      "description": "Biochatter Drug Interactions KG-RAG for gpt-4o-mini",
      "parameters": {
        "temperature": 0.0,
        "max_new_tokens": 4096,
            "stop": ["[DONE]"]
      },
      "endpoints": [
        {
          "type": "openai",
          "baseURL": "http://172.17.0.1:50501/biochatter_api",
          "apiKey": "no_key_needed"
        }
      ],
      "promptExamples": [
            {
              "title": "Drug interactions of Sirolimus",
              "prompt": "What drug interactions of Rapamycin are you aware of? What are these interactions?"
            },
            {
              "title": "Drug interactions of Metformin",
              "prompt": "What drug interactions of Metformin are you aware of? What are these interactions?"
            },
            {
              "title": "Drug interactions of Ozempic",
              "prompt": "What drug interactions of Semaglutide are you aware of? What are these interactions?"
            }
      ]

}]`
