# production
build/*
volumes/*
tmp/*
logs/*
chat-ui/*
chat-ui

# misc
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.bioserver.env

# typescript
*.tsbuildinfo
next-env.d.ts
dev

#ide
.vscode
.idea

# docker-compose env files
*.key
*.key.pub

# python ignore files
__pycache__/
*.py[cod]
*$py.class
